:root{
    --background-principal: #EAFAF1;
    --fuente-titulos: #D35400;
    --background-alternativo: #FAD7A0;
    --verde-lilian: #BEE299;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-principal);
}

header h1{
    margin-top: 50px;
    font-size: 4.6rem;
    font-weight: bolder;
    text-align: center;
    color: var(--fuente-titulos);
}

header span{
    width: 75px;
    height: 75px;
    background-image: url('../img/Liliam.png');
    background-size: 75px;
    position: absolute;
    left: calc(50% + 162.5px);
    top: 38px;
}

nav{
    display: flex;
    justify-content: center;
}

.main__nav{
    margin-top: 40px;
    width: 70%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    background-color: var(--verde-lilian);
    border-radius: 15px;
}

.main__nav-item a:hover{
    color: #AE3203;
}

.main__nav-item a:active{
    color: var(--background-alternativo);
}

.main__nav-item{
    margin: 0 10px;
    font-size: 1.4rem;
    font-weight: 600;
    align-self: center;
    color: var(--fuente-titulos);
    background-color: var(--verde-lilian);
    cursor: pointer;
}

.galery__container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-auto-rows: 250px;
    justify-content: center;
    gap: 20px;
}

.galery__container h2{
    margin-top: 30px;
    text-align: center;
    font-weight: 400;
    color: var(--fuente-titulos);
}

.galery__container img{
    margin-top: 10px;
    width: 250px;
    height: auto;
    object-fit: contain;
}

.map__container h2{
    margin-top: 40px;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--fuente-titulos);
 }

#map {
    margin: 40px auto 0 auto;
    max-width: 600px;
    height: 300px;
    box-shadow: 5px 5px 5px #888;
 }

.form__container{
     display: flex;
     flex-direction: column;

 }

.form__container{
    display: flex;
    flex-direction: column;
    margin: 40px auto 0 auto;
}

.form__container h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--fuente-titulos);
}

.form__container .pedido{
    margin: 40px auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.4rem;
}

.footer__container{
    margin-top: 40px;
    padding-right: 20px;
    padding-top: 5px;
    width: 100%;
    height: 30px;
    background-color: var(--verde-lilian);
    color: var(--fuente-titulos);
    font-size: 1.2rem;
    font-weight: 400;
    text-align: end;
}

.familia__agregar{
    width: 150px;
}

.form__container-button{
    width: 150px;
}